<div class="about-main">
  <h2 data-test="heading">TweetAppとは</h2>
  <p data-test="paragraph">SNSサービスです。近況やつぶやきを投稿し、他のユーザーと楽しくコミュニケーションできます。</p>
  <img class="about-img" src="/image/tweets.png" data-test="image">
</div>
